* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.custom-text {
  border-color: black;
  border-radius: 12px;
}

.custom_nav {
  
  text-align: center;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.custom-switch input {
  margin-top: 57px;
}
.custom-switch {
  display: flex;
  margin-right: 2%;
  column-gap: 2px;
}

@media screen and (max-width:992px) {
  .custom_nav {
    flex-direction: row;  
    flex-wrap: nowrap;    
  }
} 

.navtext {
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-table {
  border-collapse: collapse;   
  border-spacing: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 18px;
 /* width: auto; */
}

@media screen and (max-width : 781px) {
  .custom-table {
    width: 100%;
  }
}

@media screen and (min-width : 1010px) {
  .custom-table {
    width: 50%;
    margin-left: 26%;
  }
}

.custom-table thead th {
  background-color: #171718ce; 
  color: #ffffff;
  padding: 8px 10px;  
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.custom-table tbody th {
  background-color: #f8fafc;
  color:  #0c0d0d;
  font-weight: 500;
  padding: 12px 12px;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table tbody td {
  padding: 12px 16px;
  text-align: center;
  font-weight: 600;
  color: #0c0d0d;
  border-bottom: 1px solid #e5e7eb;
}

.summary {
  text-align: center;
}

.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
  margin-left: 22%;
}

.mail {
  display: flex;
  width:auto;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
}

@media screen and (min-width : 200px) {
  .mail textarea {
    width: 50%;
  } 
}

.mail .copy_detect {
  display: flex;
  flex-direction: column;
}

.mail button {
  height: 3%;
}

.text_mail {
  text-align: center;
  width: 23vw;
  margin-top: 17px;
  border-color: #000000;
  border-radius: 12px; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} 

.download button {
  width :auto;
  min-width: 220px;        
}

@media (max-width: 600px) {
  .download button {
    min-width: 180px;
    font-size: 15px;
  }
}

body {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.08) 0px,
    rgba(0, 0, 0, 0.08) 2px,
    transparent 2px,
    transparent 10px
  );
}

.center button:hover{
  box-shadow: 0px 0px 6px 3px #000000;
}

.download button:hover {
  box-shadow: 0px 0px 6px 3px #030303;
}

.mail .copy_detect button:hover {
  box-shadow: 0px 0px 6px 3px #000000;
}

.text-title {
  text-align:center;
  margin-left:50%;
}

.download-btn {  
  margin-bottom: 20px;
  text-align: center;
}

.download-btn button:hover {
  box-shadow: 0px 0px 6px 3px #000000;
}

