.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.custom-text {
  border-color: black;
}

.custom_nav {
  text-align: center;
  height: 45px;
}
.navtext {
  margin-left: 47%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.custom-table {
  width: 50%;
  border-collapse: collapse;   
  border-spacing: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 18px;
  margin-left: 26%;
}

.custom-table thead th {
  background-color: #171718ce; 
  color: #ffffff;
  padding: 8px 10px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.custom-table tbody th {
  background-color: #f8fafc;
  color:  #0c0d0d;
  font-weight: 500;
  padding: 12px 12px;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table tbody td {
  padding: 12px 16px;
  text-align: center;
  font-weight: 600;
  color: #0c0d0d;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table tbody :hover {
  background-color: #37373938;
}

.summary {
  text-align: center;
}

.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
  margin-left: 22%;
}

.mail {
  display: flex;
  margin-left: 26%;
  column-gap: 15px;
  align-items: center;
}

.mail .copy_detect {
  display: flex;
  flex-direction: column;
}

.mail button {
  height: 3%;
}

.text_mail {
  text-align: center;
  width: 23vw;
  margin-top: 17px;
  border-color: #0c0d0d;
  border: 2px solid;
  border-radius: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.download {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 42%;
  margin-right: 42%;
}

body {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.08) 0px,
    rgba(0, 0, 0, 0.08) 2px,
    transparent 2px,
    transparent 10px
  );
}

.center button:hover {
  box-shadow: 0px 0px 1.7px 3px #212529;
}

.download button:hover {
  box-shadow: 0px 0px 1.7px 3px #212529;
}

.mail .copy_detect button:hover {
  box-shadow: 0px 0px 1.7px 3px #212529;
}